import tweepy

keys = dict(
    consumer_key =        '',
    consumer_secret =     '',
    access_token =        '',
    access_token_secret = '',
)

auth = tweepy.OAuthHandler(keys['consumer_key'], keys['consumer_secret'])
auth.set_access_token(keys['access_token'], keys['access_token_secret'])

twitterAPI = tweepy.API(auth)

